[submodule "externalRepos/blasr"]
	path = externalRepos/blasr
	url = git://github.com/mchaisso/blasr
[submodule "externalRepos/pbsamstream"]
	path = externalRepos/pbsamstream
	url = git://github.com/mchaisso/pbsamstream
[submodule "externalRepos/pbgreedyphase"]
	path = externalRepos/pbgreedyphase
	url = https://github.com/mchaisso/pbgreedyphase
