[submodule "externalRepos/blasr"]
	path = externalRepos/blasr
	url = git://github.com/mchaisso/blasr
[submodule "externalRepos/pbsamstream"]
	path = externalRepos/pbsamstream
	url = https://github.com/mchaisso/pbsamstream.git
[submodule "externalRepos/pbgreedyphase"]
	path = externalRepos/pbgreedyphase
        url = git://github.com/mchaisso/pbgreedyphase.git
[submodule "externalRepos/whatshap"]
	path = externalRepos/whatshap
	url = https://bitbucket.org/whatshap/whatshap
[submodule "externalRepos/ConsensusCore"]
	path = externalRepos/ConsensusCore
	url = https://github.com/pacificbiosciences/consensuscore
[submodule "externalRepos/GenomicConsensus"]
	path = externalRepos/GenomicConsensus
	url = https://github.com/pacificbiosciences/genomicconsensus
[submodule "externalRepos/pbcommand"]
	path = externalRepos/pbcommand
	url = https://github.com/pacificbiosciences/pbcommand
[submodule "externalRepos/pbbam"]
	path = externalRepos/pbbam
	url = https://github.com/pacificbiosciences/pbbam
[submodule "externalRepos/hdf5"]
	path = externalRepos/hdf5
	url = https://github.com/mortenpi/hdf5.git
[submodule "externalRepos/htslib"]
	path = externalRepos/htslib
	url = https://github.com/samtools/htslib
